{% for setting in php_ini_settings %}
{{ setting.name }}={{ setting.value }}
{% endfor %}

{% if 'development' in group_names %}
; Development Only Settings
{% for setting in php_dev_ini_settings %}
{{ setting.name }}={{ setting.value }}
{% endfor %}
{% endif %}
