# {{ ansible_managed }}
[{{ item.name }}]
user = {{ item.user|default(fpm_default_user) }}
group = {{ item.group|default(fpm_default_group) }}
listen = {{ item.listen|default("/var/run/php5-fpm-{{ item.name }}.sock") }}

listen.owner = {{ item.user|default(fpm_default_user) }}
listen.group = {{ item.group|default(fpm_default_group) }}
listen.mode = {{ item.listen_mode|default(fpm_default_listen_mode) }}

pm = {{ item.pm|default(fpm_default_pm) }}
pm.max_children = {{ item.pm_max_children|default(fpm_default_pm_max_children) }}
pm.start_servers = {{ item.pm_start_servers|default(fpm_default_pm_start_servers) }}
pm.min_spare_servers = {{ item.pm_min_spare_servers|default(fpm_default_pm_min_spare_servers) }}
pm.max_spare_servers = {{ item.pm_max_spare_servers|default(fpm_default_pm_max_spare_servers) }}

php_admin_value[error_log] = /var/log/php/{{ item.name }}/error.log
php_admin_flag[log_errors] = on

{% for option in item.options|default([]) %}
{{ option.name }} = {{ option.value }}
{% endfor %}

{% for option in item.env|default([]) %}
ENV[{{ option.name }}]={{ option.value }}
{% endfor %}

{% for option in item.php_admin_value|default([]) %}
php_admin_value[{{ option.name }}]={{ option.value }}
{% endfor %}

{% for option in item.php_admin_flag|default([]) %}
php_admin_flag[{{ option.name }}]={{ option.value }}
{% endfor %}

{% for option in item.php_flag|default([]) %}
php_flag[{{ option.name }}]={{ option.value }}
{% endfor %}

